    /* Border-bottom Title Page */

      .informasi{
        width: 250px;
        border-bottom: solid 6px#3bda9f;
        color: #456e8c;
      }


    /* step wizard */
    .stepwizard-step p {
        margin-top: 10px;
      }

      .stepwizard-row {
        display: table-row;
      }

      .stepwizard {
        display: table;
        width: 100%;
        position: relative;
      }

      .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
      }

      .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
      }

      .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
      }

      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }


      /* Poppins */
      @font-face {
          font-family: poppins;
          src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
      }

      .poppins{
          font-family: poppins;
      }


      /* Alur */

      /* Alur */

#alur {
  color: #145560;
  padding-bottom: 130px;
}

.alur-text {
  top: 90px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text2 {
  top: 90px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text3 {
  top: 90px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text4 {
  top: 90px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text5 {
  top: 90px;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 400px) {
  #alur {
      height: auto;
      order: 1;
  }
  #regis-form {
      order: 2;
  }
  .alur-text {
      font-size: 10px;
      top: 80px;
  }
  .alur-text2 {
      font-size: 10px;
      top: 80px;
  }
  .alur-text3 {
      font-size: 10px;
      top: 80px;
  }
  .alur-text4 {
      font-size: 10px;
      top: 80px;
  }
  .alur-text5 {
      font-size: 10px;
      top: 80px;
  }
  #alur img {
      width: 75px;
  }
}
@media (max-width: 992px) and (min-width: 400px) {
  #alur {
      padding: 50px 0px 170px 0px;
      height: 300px;
      order: 1;
  }
  #regis-form {
      order: 2;
  }

  .letter-spacing{
    letter-spacing: 7px;
  }
}

@media (max-width: 992px) and (min-width: 320px) {
  .hero{
    padding: 24px;
  }
}

@media (min-width: 993px) {
  .hero{
    padding: 55px;
  }
}
