    /* Border-bottom Title Page */
    .informasi{
        border-bottom: solid 6px#3bda9f;
        color: #114551;
    }
    
    /* step wizard */
    .stepwizard-step p {
        margin-top: 10px;
      }
      
      .stepwizard-row {
        display: table-row;
      }
      
      .stepwizard {
        display: table;
        width: 100%;
        position: relative;
      }
      
      .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
      }
      
      .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
      }
      
      .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
      }
      
      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }


      /* Poppins */
      @font-face {
          font-family: poppins;
          src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
      }

      .poppins{
          font-family: poppins;
      }


      /* Alur */

      /* Alur */

#alur {
  color: #145560;
}

.alur-text {
  top: -130px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text2 {
  top: 115px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text3 {
  top: -130px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text4 {
  top: 115px;
  font-weight: 600;
  font-size: 14px;
}
.alur-text5 {
  top: -130px;
  font-weight: 600;
  font-size: 14px;
}